/*
 Theme Name:   Panmedia WP - Pan Bootstrap Child
 Theme URI:    
 Description:  Pan Bootstrap Child Theme
 Author:       
 Author URI:   
 Template:     pan-bootstrap
 Version:      1.0.0
 License:      
 License URI:  
 Tags:         
 Text Domain:  pan-bootstrap-child
*/